.jugabilidad {
    margin: 3px;
    padding: 5%;
    height: 400px;    
    width: 400px;
    background-image: url('../../../assets/totito.gif');
    background-repeat: no-repeat;
}

.jugada {
    text-align: center;
    height: 123px;
    font-size: 3.1rem;
    /* padding-top: 20%; */
    width: 100%;
    background: transparent;
    border: none;
}